body {
  background-color: #222222;
}

.welcome-container {
  text-align: center;
  margin-top: 50px;
}

.welcome-heading {
  font-size: 2em;
  color: #fff;
}

.welcome-message {
  font-size: 1.2em;
  color: #fff;
  margin-top: 10px;
}
